# Example environment file for Gen AI Unit Test Generator Backend
OPENAI_API_KEY=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
PORT=5000